.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #1e1e1e;
    padding-top: 15px;
    margin-top: 20px;
}

.footer ul{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer ul li{
    list-style: none;
}

.footer p{
    display: flex;
    align-items: center;
    gap: 5px;
}