.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar ul li{
    list-style: none;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /* background: #cecece; */
    border: 1px solid #1e1e1e;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-bar input{
    border: none;
    font-size: 1rem;
    background: transparent;
    outline: none;
    flex-grow: 1;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.rm-pad{
    padding: 0;
}